button{
    padding: 10px;
    background-color:blue;
    color: white;
    font-size: larger;
    font-family: Arial;
    border-radius:5px
    
}
body{
    background-color: bisque;
}
.container{
    background-color: white;
    width: 400px;
    height: 400px;
    text-align: center;
    justify-content: center;

}